
.react-split .split-container .default-splitter {
  box-sizing: border-box;
  height: 100%;
  outline: none;
  overflow: hidden;
  user-select: none;
  width: 100%;
  --default-splitter-line-color: silver;
  --default-splitter-line-hover-color: black;
  --default-splitter-line-margin: 2px;
  --default-splitter-line-width: 3px;
}

.react-split .split-container.horizontal .default-splitter {
    cursor: row-resize;
}

.react-split .split-container.vertical .default-splitter {
    cursor: col-resize;
}

.react-split .split-container .default-splitter .line {
  background: var(--default-splitter-line-color);
}

.react-split .split-container .default-splitter:hover .line {
    background: var(--default-splitter-line-hover-color);
}

.react-split .split-container.horizontal .default-splitter .line {
  height: var(--default-splitter-line-width);
  width: 100%;
  margin-top: var(--default-splitter-line-margin);
}

.react-split .split-container.vertical .default-splitter .line {
  height: 100%;
  width: var(--default-splitter-line-width);
  margin-left: var(--default-splitter-line-margin);
}